body {
    margin: 0;
}

div.container {
    width: 160px;
    min-height: 100px;
    background: #e4cff9;
    margin: 40px auto 0 auto;
    padding: 10px;

}

img.image {

    max-width: 10%;
    height: 50pxpx;
    margin: 0px;

}
h1{
    font-size: 2em;
    color:aliceblue;
}